html {
  font-size: 18px;
}

body {
  padding: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}